/* You can add global styles to this file, and also import other style files */
$primary-color: #4caf50;
$background-color: #f0f0f0;
$sent-message-color: #dcf8c6;
$received-message-color: #ffffff;
$border-color: #ccc;
